@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 234 2% 52%;
    --foreground: 0 0% 98%;
    --card: 234 2% 48%;
    --card-foreground: 0 0% 98%;
    --popover: 234 2% 48%;
    --popover-foreground: 0 0% 98%;
    --primary: 33 94% 56%;
    --primary-foreground: 33 30% 10%;
    --secondary: 234 2% 40%;
    --secondary-foreground: 0 0% 98%;
    --muted: 234 2% 40%;
    --muted-foreground: 234 2% 75%;
    --accent: 174 100% 29%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 234 2% 40%;
    --input: 234 2% 40%;
    --ring: 33 94% 56%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 234 2% 52%;
    --foreground: 0 0% 98%;
    --card: 234 2% 48%;
    --card-foreground: 0 0% 98%;
    --popover: 234 2% 48%;
    --popover-foreground: 0 0% 98%;
    --primary: 33 94% 56%;
    --primary-foreground: 33 30% 10%;
    --secondary: 234 2% 40%;
    --secondary-foreground: 0 0% 98%;
    --muted: 234 2% 40%;
    --muted-foreground: 234 2% 75%;
    --accent: 174 100% 29%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 234 2% 40%;
    --input: 234 2% 40%;
    --ring: 33 94% 56%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
